.button {
    @extend .centerContent;
    @extend .alt-accent-bold;
    min-width: 50px;
    min-height: 20px;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 5px;
    border: none;
    transition: 0.3s;
    cursor: pointer;
    color: white;
    text-shadow: 0 0 2px #444444;
    box-shadow: inset 1px 1px 1px rgba(170, 170, 170, 0.5), inset -1px -1px 1px rgba(51, 51, 51, 0.5), 2px 2px 5px black;
    &:hover {
        box-shadow: inset 1px 1px 1px rgba(51, 51, 51, 0.5), inset -1px -1px 1px rgba(170, 170, 170, 0.5), 1px 1px 3px black;
    }
    &:active {
        box-shadow: inset 2px 2px 1px rgba(51, 51, 51, 0.5), inset -2px -2px 1px rgba(170, 170, 170, 0.5), 1px 1px 2px black;
    }
}
.success-button {
    background-color: $color-main;
    color: black;
    text-shadow: 0 0 2px white;
}
.oneLineInput {
    border: none;
    background: none;
    box-shadow: none;
    padding: 17.5px 20px;
    margin: 10px;
    border-bottom: 2px solid $color-dark;
    font-family: inherit;
    font-size: inherit;
    &:focus {
        outline: 0;
        animation: focusOneLineInput 0.5s;
        @keyframes focusOneLineInput {
            0% {
                border-bottom: 2px solid $color-main;
            }
            100% {
                border-bottom: 2px solid $color-dark;
            }
        }
    }
}
.oneLineInputSmall {
    border: none;
    background: none;
    box-shadow: none;
    padding: 10px;
    margin: 10px;
    border-bottom: 2px solid $color-dark;
    font-family: inherit;
    font-size: inherit;
    &:focus {
        outline: 0;
        animation: focusOneLineInput 0.5s;
        @keyframes focusOneLineInput {
            0% {
                border-bottom: 2px solid $color-main;
            }
            100% {
                border-bottom: 2px solid $color-dark;
            }
        }
    }
}
.textarea {
    background: none;
    box-shadow: none;
    padding: 10px;
    margin: 10px;
    border: 1px solid $color-dark;
    font-family: inherit;
    font-size: inherit;
    &:focus {
        outline: 0;
        animation: focusOneLineInput 0.5s;
        @keyframes focusOneLineInput {
            0% {
                border-bottom: 2px solid $color-main;
            }
            100% {
                border-bottom: 2px solid $color-dark;
            }
        }
    }
}
.checkbox {
    width: 20px;
    height: 20px;
    margin: 0;
}
.toaster {
    position: fixed;
    bottom: 0;
    right: 0;
    .toast-message {
        font-size: 12px;
    }
}
mat-error {
    color: red;
    position: absolute;
    bottom: -20px;
    left: 0;
}