@import '../../../globalStyles/variables.scss';

#header {
    width: 100%;
    height: 100%;
    background-image: url('../../../globalStyles/resources/logo_background.png');
    background-repeat: repeat-x;
    background-size: contain;
    display: flex;
    justify-content: space-between;
    @include small {
        justify-content: center;
    }

    .logo {
        width: 250px;
        height: 60px;
        margin: 0 20px;       
        background-image: url('../../../globalStyles/resources/logo.png');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        transition: 0.5s;

        @include over-hd {
            font-size: 30px;
        }

        &:hover {
            + p {
                transform: rotateX(0deg) rotateZ(0deg);
                left: 20px;
            }
        }
    }
    p {
        position: absolute;
        top: 70px;
        left: -500px;
        transition: 0.5s;
        width: 220px;
        padding: 15px;
        text-align: center;
        transform: rotateX(90deg) rotateZ(10deg);
        transform-origin: 0 0;
        overflow: hidden;
        background-color: $color-main;
        box-shadow: inset 0 0 2px 2px $color-dark, inset 0 0 1px 3px $color-main, inset 0 0 0px 5px $color-dark, 0 2px 20px $color-dark;
    }

    .phone {
        height: 100%;
        margin: 0 20px;
        @include small {
            display: none;
        }
    }
}