@import '../../../globalStyles/variables.scss';

section {
    width: 100%;
    height: 100%;

    &:nth-child(1) {
        .banner1 {
            width: 100%;
            height: 60%;
            background-color: white;
            overflow: hidden;
            #bannerWrap {
                width: 100%;
                height: 100%;
                display: flex;
                transition: 1s;
                > a {
                    min-width: 100%;
                    > img {
                        width: auto;
                        height: 100%;                        
                    }
                    width: 100%;
                    height: 100%;
                }
            }
        }
        .proposePanel {
            display: flex;
            justify-content: space-around;
            background-image: url('../../../globalStyles/resources/logo_background.png');
            background-size: auto 100%;
            height: 50px;
            position: relative;
            z-index: 5;
            &:hover {
                .progressLine {
                    animation-play-state: paused;
                }
            }
            @include medium {
                height: 20px;
            }
            @include small {
                height: 10px;
            }
            .progressLine {
                position: absolute;
                width: 100%;
                height: 5px;
                bottom: -5px;
                background-color: $color-main;
                z-index: -1;
                animation: progressLineAniamtion 10s linear infinite;
                @include medium {
                    display: none;
                }
                @include small {
                    display: none;
                }
            }

            .descript {
                flex: 0 0 20%;
                margin: 2px 0 -2px 0;
                background-image: url('../../../globalStyles/resources/button.png');
                background-size: 20%;
                background-position: left center;
                background-repeat: no-repeat;
                cursor: default;
                transition: 0.5s;
                &:hover {
                    margin: 7px 0 -7px 0;
                    p {
                        transform: rotateX(0deg) rotateZ(0deg);
                        padding: 5px;
                    }
                }
                @include medium {
                    display: none;
                }
                @include small {
                    display: none;
                }
                h3 {
                    margin: 15px 0 15px 50px;
                    text-shadow: 0 0 10px $color-main;
                    text-align: left;
                }
                p {
                    transition: 0.5s;
                    height: 200%;
                    transform: rotateX(90deg) rotateZ(10deg);
                    transform-origin: 0 0;
                    overflow: hidden;
                    background-color: $color-main;
                    box-shadow: inset 0 0 2px 2px $color-dark, inset 0 0 1px 3px $color-main, inset 0 0 0px 5px $color-dark, 0 2px 20px $color-dark;
                }
            } 
        }
        .tread {
            width: 100%;
            height: 30%;
            overflow: hidden;
            h2 {
                color: $color-dark;
                margin-top: 10px;
            }
            .logoTread {
                filter: grayscale(100%);
                height: calc(100% - 3.5vw);
                flex-wrap: nowrap;
                transition: 0.5s;
                a {
                    margin: 0 calc((100% - (100px * 5) )/10);
                    flex: 0 0 100px;
                    height: 100px;
                    display: block;
                    background-size: 90%;
                    background-position: center;
                    background-repeat: no-repeat;
                    transition: 0.5s;
                    z-index: 1;
                    &:hover {
                        transform: scale(1.2);
                    }
                }
            }
        }
        
    }
    &:nth-child(2) {
        display: flex;
        @include large {
            height: auto;
            min-height: 100%;
        }
        @include medium {
            height: auto;
            min-height: 100%;
        }
        @include small {
            height: auto;
            min-height: 100%;
        }
        .navigationPanel{
            flex: 1 0 30%;
            height: 100%;
            min-height: calc(100vh - 50px);
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            background-color: $color-main;
            @include medium {
                flex: 0 0 40vw;
            }
            @include small {
                flex: 0 0 50vw;
            }
            .searchPanel {
                text-align: center;
                margin: 20px 0;
                flex-wrap: wrap;
                justify-content: space-between;
                >label {
                    width: 100%;
                    text-align: center;
                    >input {
                        margin: 0;
                    }
                }
                >input {
                    width: 100%;
                    padding: 0;
                }
            }
            .categoriesPanel {
                >h3 {
                    text-align: center;
                    margin: 5px 0;
                }
                .category {
                    margin: 5px 20px;
                    padding: 5px 10px;
                    border-radius: 20px;
                    background-color: $color-dark;
                    cursor: pointer;
                    transition: 0.5s;
                    color: white;
                    text-shadow: 0 0 2px $color-dark;
                    &:hover {
                        padding-left: 15px;
                    }
                }
            }
        }
        .resultPanel {
            flex: 1 0 70%;
            padding: 25px 0;
            display: flex;
            flex-wrap: wrap;
            overflow: auto;
            transition: 0.5s 0.5s;
            background: url('../../../globalStyles/resources/email/logo.png') center no-repeat;
            @include medium {
                flex: 0 0 60vw;
            }
            @include small {
                flex: 0 0 50vw;
            }
            .resultCompany {
                width: calc(50% - 20px*2 - 20px*2);
                min-height: calc((100%/3) - 20px*2);
                display: flex;
                justify-content: space-between;
                align-items: center;
                text-align: right;
                margin: 20px;
                padding-right: 20px; 
                box-shadow: 2px 2px 6px grey;
                background-color: $color-main;
                cursor: pointer;
                transition: 0.2s;
                &:hover {
                    box-shadow: 2px 2px 6px black;
                }
                @include medium {
                    width: calc(100% - 10px*2 - 20px);
                    padding: 5px;
                    margin: 10px;
                    min-height: auto;
                    >div:nth-child(1) {
                        // display: none;
                    }
                }
                @include small {
                    width: calc(100% - 10px*2 - 20px);
                    padding: 5px;
                    margin: 10px;
                    min-height: auto;
                    >div:nth-child(1) {
                        // display: none;
                    }
                }

                &.discountBg {
                    background-image: url('../../../globalStyles/resources/discount2.png');
                    background-position: right top;
                    background-repeat: no-repeat;
                    background-size: 12% auto;
                }

                >div:nth-child(1) {
                    width: 50%;
                    height: 100%;
                    background-size: contain;
                    background-position: left;
                    background-repeat: no-repeat;
                }

                &.otherResults {
                    background-color: $color-main;
                    justify-content: flex-end;
                }
            }
        }
    }
}


// animations
@keyframes progressLineAniamtion {
    0% {
        left: -100%;
    }
    99% {
        left: 0;
        height: 5px;
        bottom: -5px;
    }
    100% {
        left: 0;
        height: 0;
        bottom: 0;
    }
}
@keyframes hideExplain {
    from {
        top: 20%;
        bottom: 20%;
        width: 65%;
    }
    to {
        top: 79%;
        bottom: 0;
        width: 100%;
    }
}